<div class="container mt-5">
  <h2 class="mb-4">Órdenes de Producción</h2>

  <div class="card mb-3 shadow" *ngFor="let orden of ordenes">
    <div class="card-header bg-primary text-white">
      {{ orden.producto }}
    </div>
    <div class="card-body">
      <p>Cantidad: {{ orden.cantidad }}</p>
      <p>Capacidad: {{ orden.capacidadMaquina }}</p>

      <p>
        Estado:

        <span
          class="badge"
          [ngClass]="{
            'bg-secondary': orden.estado === 'pendiente',
            'bg-warning': orden.estado === 'en_proceso',
            'bg-success': orden.estado === 'finalizada',
          }"
        >
          {{ orden.estado }}
        </span>
      </p>

      <p>
        Eficiencia:
        <strong>{{ orden.obtenerEficiencia() }}</strong>
      </p>

      <!-- Two-Way Binding directo -->
      <label class="form-label">Modificar cantidad</label>

      <input type="number" class="form-control mb-2" [(ngModel)]="orden.cantidad" />

      <div class="progress mb-2">
        <div
          class="progress-bar"
          [style.width.%]="orden.obtenerPorcentajeUso()"
          [ngClass]="{
            'bg-success': orden.obtenerPorcentajeUso() < 80,
            'bg-danger': orden.obtenerPorcentajeUso() >= 80,
          }"
        >
          {{ orden.obtenerPorcentajeUso() | number: '1.0-0' }}%
        </div>
      </div>

      <button class="btn btn-success me-2" (click)="iniciar(orden)">Iniciar</button>

      <!--     <button class="btn btn-info me-2" (click)="actualizarCantidad(orden)">
        Actualizar Cantidad
      </button> -->

      <button class="btn btn-danger me-2" (click)="finalizar(orden)">Finalizar</button>
      <!-- Implementación del bloque de control dee flujo @if-->
      @if (orden.mensaje) {
        <div class="alert alert-warning mt-3">
          {{ orden.mensaje }}
        </div>
      }
    </div>
  </div>
</div>
